.art-container {
    width: 2535px;
    height: 1340px;
    background-image: url("../assets/images/NEWBODY.jpg");
    background-position: center;
    background-size: cover; margin: -8px; overflow: hidden;
    position: relative;
}

.img-container {
    position: absolute;
}


img {
    width: 100%;
    height: 100%;
}

#img4 {
    width: 550px;
    height: 500px;
    left: -50px;
    top: 230px;
}

#img5 {
    width: 600px;
    height: 600px;
    left: 1950px;
    top: 430px;
}

#img6 {
    width: 675px;
    height: 210px;
    left: 500px;
    top: 845px;
}

#img7 {
    width: 350px;
    height: 500px;
    left: 1500px;
    top: 715px;
}

#img8 {
    width: 163px;
    height: 207px;
    left: 480px;
    top: 180px;
}

#img9 {
    width: 163px;
    height: 207px;
    left: 2010px;
    top: 180px;
}