.art-container {
    width: 2535px;
    height: 1340px;
    background-image: url("../assets/images/200w.gif");
    background-position: center;
    background-size: auto;
    background-color: black;
    position: relative;
}

.img-container {
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
}

#img4 {
    width: 350px;
    height: 500px;
    left: 70px;
    top: 100px;
}

#img5 {
    width: 350px;
    height: 500px;
    left: 1000px;
    top: 700px;
}

#img6 {
    width: 350px;
    height: 500px;
    left: 500px;
    top: 700px;
}
