.art-container {
    width: 2535px;
    height: 1340px;
    background-image: url("../assets/images/NEWBODY.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.img-container {
    position: absolute;
}


img {
    width: 100%;
    height: 100%;
}

#img4 {
    width: 550px;
    height: 500px;
    left: -50px;
    top: 230px;
}

#img5 {
    width: 600px;
    height: 900px;
    left: 1550px;
    top: 430px;
}

#img6 {
    width: 675px;
    height: 210px;
    left: 500px;
    top: 845px;
}

#img7 {
    width: 350px;
    height: 500px;
    left: 2100px;
    top: 275px;
}

#img8 {
    width: 1350px;
    height: 250px;
    left: 500px;
    top: 300px;
}